.selectedElement {
    outline:1px #125688 dashed !important;
}

*{
    position:relative;
}

.inserter {
    height:0px;

}

.inserterbef {
    position:absolute;
    height:30px;
    width:30px;
    display:block;
    left:50%;
    margin-left:-15px;
    margin-top:-30px;
    border-radius:50%;
    background-color:#2980b9;
    color:white;
}
.inserteraft {
    position:absolute;
    height:30px;
    width:30px;
    left:50%;
    margin-left:-15px;
    display:block;
    border-radius:50%;
    background-color:#2980b9;
    color:white;
}