* {
    position: relative;
}

.selectedElement {
    outline: 1px #125688 dashed !important;
}

.inserterh,
.inserterv {
    height: 0;
    font-size: 5vh;
    z-index: 1000;
}

.inserterv {
    position: absolute;
    top: 50%;
}

.inserterbef,
.inserteraft,
.inserterin {
    position: absolute;
    height: 30px;
    width: 30px;
    display: block;
    border-radius: 50%;
    background: #2980b9 url("res/plus.png") center no-repeat;
    color: white;
    -webkit-animation: fadeOut 0.2s ease-in-out 0.5s forwards;
}

.selectedElement:hover .inserterh .inserterbef,
.selectedElement:hover .inserterh .inserteraft,
.selectedElement:hover .inserterv .inserterin {
    -webkit-animation: fadeIn 0.2s ease-in-out forwards;
}

.inserterbef {
    left: 50%;
    margin-left: -15px;
    margin-top: -30px;
}

.inserteraft {
    left: 50%;
    margin-left: -15px;
}

.inserterin {
    margin-top: -15px;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}